# Ignore the dataset directory but keep .gitkeep files
dataset/*
!dataset/.gitkeep
ic_plp/original_code/*

# Ignore the runs directory but keep model weights used by main.py
runs/*
!runs/.gitkeep
!runs/detect/
runs/detect/*
!runs/detect/YOLOv8_20250422_122835/
runs/detect/YOLOv8_20250422_122835/*
!runs/detect/YOLOv8_20250422_122835/weights/
runs/detect/YOLOv8_20250422_122835/weights/*
!runs/detect/YOLOv8_20250422_122835/weights/best.pt
runs/classification/*
!runs/classification/IC_20250427_170000/weights/
!runs/classification/IC_20250427_170000/weights/best.keras

# Ignore editor-specific files
.cursor
