# Ignore the dataset directory but keep .gitkeep files
dataset/*
!dataset/.gitkeep

# Ignore the runs directory
runs/*
!runs/.gitkeep

# Ignore editor-specific files
.cursor

# Ignore specific model weight files
yolo11n.pt
yolov8s.pt